@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
    --main-purple: #762bdf;
    --darker-purple: #3b00ac;
    --light-text: #ffffff;
    --dark-text: #333;
}

*,*::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    box-shadow: 0px 5px 8px -9px rgba(0,0,0,0.75);
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-height: 83px;
    width: 100%;
}

.navbar a {
    text-decoration: none;
}

.navlist {
    color: var(--main-purple);
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.navlist-hidden {
    display: none;
}
.navlist-item {
    flex: 1;
    list-style: none;
    text-align: center;
    font-weight: 700;
    color: var(--main-purple);
    padding: 1rem;
}

.hamburger {
    display: flex;
    gap: 2px;
    align-items: flex-end;
    flex-direction: column;
    top: 2em;
    right: 2em;
    position: absolute;
}

.line {
    width: 20px;
    height: 5px;
    background-color: var(--main-purple);
}




@media screen and (min-width: 500px) {
    .hamburger {
        display: none;
    }
    .navbar {
        min-height: 3rem;
        width: 100%;
        margin: auto;
    }
    
    .navlist {
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    
    }
    .navlist-hidden {
        color: var(--main-purple);
        width: 100%; 
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .navlist-item:hover {
        background-color: var(--main-purple);
        color: var(--light-text);
        cursor: pointer;
    }
}
